body {
  margin: 0;
  margin-bottom: 25px;
  padding: 0;
  background-color: #F4FAFC;
  font-family: "Lucida Grande", "Bitstream Vera Sans", "Verdana";
  font-size: 13px;
  color: #333333;
}

h1 {
  font-size: 28px;
  color: #000000;
}

a  {
  color: #00A0D1;
}

a:hover {
  background-color: #00A0D1;
  color: #FFFFFF;
  text-decoration: none;
}

#page {
  width: 800px;
  margin: 0;
  margin-left: auto;
  margin-right: auto;
}

#content {
  float: left;
  background-color: #FFFFFF;
  border: 3px solid #00A0D1;
  border-top: none;
  padding: 25px;
  padding-left: 60px;
  width: 515px;
  min-height: 175px;
}

#sidebar {
  float: right;
  padding-left: 10px;
  width: 175px;
}

#footer {
  clear: both;
}

#search_area {
  margin-top: 10px;
  padding-left: 75px;
  padding-right: 30px;
}

#search_area {
  background-image: url("bird_blue_48.png");
  background-repeat: no-repeat;
  background-position: top left;
  margin-bottom: 20px;
}

#search_area h1 {
  margin: 0;
  margin-left: 1em;
  font-size: 2.25em;
}

#search_area label {
  margin: 0;
  padding: 0;
  font-size: 2.1em;
}

#search_area #username {
  height: 29px;
  width: 227px;
  margin-left: 0;
  margin-top: 0.5em;
  padding-left: 0;
  font-size: 1.75em;
  font-style: italic;
  color: #959595;
}

#search_area #submit {
  font-size: 1.8em;
}

.uname_link {
  text-decoration: none;
}

.uname_link:hover {
  color: #004053;
  background-color: #FFFFFF;
  text-decoration: none;
}

.metric {
  color: #00D199;
  font-weight: bold;
  margin-left: 0.5em;
  margin-right: 0.25em;
}

#expl {
  width: 65%;
  margin-left: auto;
  margin-right: auto;
}

#sidebar ul {
  margin-left: 0;
  padding-left: 0;
}

#sidebar ul h3 {
  margin-top: 25px;
  font-size: 16px;
  padding-bottom: 10px;
  border-bottom: 1px solid #00A0D1;
}

#sidebar li {
  list-style-type: none;
}

#sidebar ul.links li {
  margin-bottom: 5px;
}
