/*
* = require bootstrap.min
*/
html {
  background-color: #F4FAFC;
  text-align: center;
}

body {
  margin: 0;
  margin-bottom: 25px;
  padding: 0;
  background-color: #F4FAFC;
  font-family: "Lucida Grande", "Bitstream Vera Sans", "Lucida Sans", Verdana, sans-serif;
  color: #292F33;
  text-align: left;
  display: inline-block;
}

h1 {
  font-size: 28px;
  color: #000000;
}

a {
  color: #00A0D1;
  text-decoration: none;
}

a:hover {
  color: #66757F;
  text-decoration: underline;
}

.auto-lr-margin {
  margin-left: auto;
  margin-right: auto;
}

.center-text {
  text-align: center;
}

.content {
  background-color: #FFFFFF;
  border: 3px solid #55ACEE;
  border-top: none;
  padding: 20px;
  max-width: 740px;
  min-height: 175px;
}

.content-top {
  margin-top: 10px;
  margin-bottom: 20px;
  text-align: center;
}

.content-top h1 {
  margin: 0;
  margin-bottom: 0.5em;
  font-size: 2.25em;
  display: inline-block;
}

.content-top:before {
  content: url("bird_blue_48.png");
}

.content-top label {
  margin: 0;
  padding: 0;
  font-size: 3em;
  vertical-align: middle;
  padding-bottom: 0.25em;
}

.content-top #username {
  height: 1em;
  margin-left: 0;
  padding-left: 0;
  font-size: 2.25em;
  width: 30%;
  min-width: 150px;
  max-width: 300px;
}

.content-top #submit {
  font-size: 2.25em;
  min-height: 1.25em;  
  max-width: 32px;
  max-height: 38px;
}

.content-top #submit:hover {
  color: #55ACEE;
  cursor: pointer;
}

#search-area,
.content-top form {
  min-width: 225px;
}

#stats {
  min-width: 625px;
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  line-height: 1em;
}

.uname-link {
  text-decoration: none;
}

.avg-act-header {
  font-size: 2.25em;
}

ul,
.metric,
.metric-link {
  color: #55ACEE;
}

.metric {
  font-weight: bold;
  margin-left: 0.5em;
  margin-right: 0.25em;
}

.parens {
  font-size: 0.75em;
  font-style: italic;
  color: #66757F;
}

.ital {
  font-style: italic;
}

.metrics-table {
  font-size: 1.6em;
  white-space: nowrap;
}

.metrics-table td {
  text-align: right;
  font-size: 1.17em;
  font-weight: bold;
}

.metrics-table th {
  padding-left: 1em;
  text-align: center;
}

#all-time {
  font-size: 1.7em;
  margin-bottom: 1.1em;
}

#all-time iframe {
  margin-left: 0.5em;
  vertical-align: -0.25em;
}

#timeline {
  margin-top: 2.5em;
  width: 500px;
}

#timing-table th,
#timing-table td {
  padding: 0;
  text-align: center;
  width: 20px;
  height: 20px;
}

.left {
  text-align: left !important;
}

.red,
.error {
  color: #FF0000;
}

.youtube {
  position: relative;
  left: 40px;
  top: 5px;
}

#expl {
  padding-left: 2em;
}

#expl h3 {
  line-height: 1.2em;
}

#footer {
  clear: both;
  padding-top: 20px;
  width: 100%;
}

#footer ul {
  margin-top: 1.5em;
  margin-bottom: 0.75em;
  font-size: 1.2em;
}

#footer li {
  display: inline-block;
  list-style-type: none;
  padding-right: 1.75em;
  margin-bottom: 0.5em;
  vertical-align: top;
}

#footer .last {
  padding-right: 0;
}

#timezones-offsets {
  width: 300px;
}

#fail-image a:hover {
  background-color: #FFFFFF !important;
}

.shadow {
  -webkit-box-shadow: 4px 8px 25px rgba(41, 47, 51, 0.5);
  -moz-box-shadow: 4px 8px 25px rgba(41, 47, 51, 0.5);
  box-shadow: 4px 8px 25px rgba(41, 47, 51, 0.5);
}

.minor-shadow {
  -webkit-box-shadow: 3px 3px 12px rgba(41, 47, 51, 0.2);
  -moz-box-shadow: 3px 3px 12px rgba(41, 47, 51, 0.2);
  box-shadow: 3px 3px 12px rgba(41, 47, 51, 0.2);
}
