<div id="page">

  <div id="sidebar">
    <ul id="sidebar-items">
      <li>
        <h3>About</h3>
        <ul class="links">
          <li>Created by <a href="http://www.matthewfrost.com/">Matthew Frost</a></li>
          <li>Follow me <a href="https://twitter.com/frostmatthew">@frostmatthew</a></li>
          <li>Fork this on <a href="https://github.com/Exupery/shouldifollow">GitHub</a></li>
        </ul>
      </li>
    </ul>
  </div>

  <div id="content">
    <div id="header">
      <h1>Should I follow</h1>
    </div>

    <div id="stats">
      <h3>stats</h3>
    </div>

    <div id="timeline">
      <h1>embedded timeline</h1>
    </div>
  </div>

  <div id="footer"></div>
</div>