<div id="page">

  <%= render 'layouts/sidebar' %>

  <div id="content">
    <div id="header">
      <h1>Should I follow</h1>
    </div>

    <div id="stats">
      <h3>stats</h3>
    </div>

    <div id="timeline">
      <h1>embedded timeline</h1>
    </div>
  </div>

  <%= render 'layouts/footer' %>
</div>