<div class="content shadow auto-lr-margin">
	<div class="content-top auto-lr-margin">
		<h1>API Rate Limits</h1>
		<h3><span class="parens">(dev mode only)</span></h3>
	</div>
	<% if Rails.env.development? %>
	<div id="rate-limits">
		<% limits = Ratelimit.new %>
		<%= react_component("MetricsTable", {
			headings: ["", "Remaining", "Limit", "Resets in"],
			rows: [
				["users", limits.user_lookups["remaining"], limits.user_lookups["limit"], "#{(mins_from_now limits.user_lookups['reset']).ceil}m"],
				["timelines", limits.timelines["remaining"], limits.timelines["limit"], "#{(mins_from_now limits.timelines['reset']).ceil}m"],
				["oembeds", limits.oembeds["remaining"], limits.oembeds["limit"], "#{(mins_from_now limits.oembeds['reset']).ceil}m"]
			]
		}) %>
	</div>
	<% end %>
</div>