<span id="adsense">
<script><!--
google_ad_client = "ca-pub-1368333894050507";
/* colorbg */
google_ad_slot = "4467931865";
google_ad_width = 468;
google_ad_height = 60;
//-->
</script>
<script type="text/javascript"
src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
</script>
</span>