<div id="expl" class="auto-lr-margin">
	<h3>Enter a username for metrics on frequency and timing of Twitter activity including average tweets per day.</h3>
	<h3>See how often you tweet or check if someone else tweets too frequently before deciding to follow them!</h3>
</div>