<div id="expl">
	<h3>Enter a Twitter username to see average daily activity for that account, such as their tweets per day.</h3>
	<h3>See how often you tweet or decide if someone else tweets too much before deciding to follow them!</h3>
</div>