<div id="expl" class="auto-lr-margin">
	<h3>Enter a Twitter username for metrics on:</h3>
	<h4>
	<ul>
		<li>Tweets per day</li>
		<li>Retweets per day</li>
		<li>Most used hashtag</li>
		<li>Number of hashtags used</li>
		<li>Twitter join date</li>
		<li>Timing of tweets</li>
	</ul>
	</h4>
	<h3>See how often you tweet or check if someone else tweets too frequently <span class="ital">before</span> deciding to follow them!</h3>
</div>