<div id="footer" class="center-text">
<%= render "layouts/adsense" %>
	<ul class="links">
    <li>Created by <a href="http://www.matthewfrost.com/">Matthew Frost</a></li>
    <li>Follow me <a href="https://twitter.com/frostmatthew">@frostmatthew</a></li>
    <li>Fork this on <a href="https://github.com/Exupery/shouldifollow">GitHub</a></li>
    <li class="last"><%= render "layouts/tweet", :tw => nil %></li>
  </ul>
</div>