<div id="loading" class="hidden auto-lr-margin">
	<div id="spinning-squares-1" class="spinning-squares"></div>
	<div id="spinning-squares-2" class="spinning-squares"></div>
	<div id="spinning-squares-3" class="spinning-squares"></div>
	<div id="spinning-squares-4" class="spinning-squares"></div>
	<div id="spinning-squares-5" class="spinning-squares"></div>
	<div id="spinning-squares-6" class="spinning-squares"></div>
	<div id="spinning-squares-7" class="spinning-squares"></div>
	<div id="spinning-squares-8" class="spinning-squares"></div>
</div>