<div id="content">

  <div id="header">
    <h1>Should I follow</h1>
    <%= form_tag("/", :method=>"get") do %>
      <%= label_tag(:username, "@") %>
      <%= text_field_tag(:username, "username", :maxlength => 20) %>
    <% end %>
  </div>

  <div id="stats">
    <h3>stats</h3>
  </div>

  <div id="timeline">
    <h3>embedded timeline</h3>
  </div>

</div>