<div id="content">

  <div id="search_area">
    <h1>Should I follow</h1>
    <%= form_tag("/", :method=>"get") do %>
      <%= label_tag(:username, "@") %>
      <%= text_field_tag(:username, "username", :maxlength=>20) %>
      <%= submit_tag("?", "id"=>"submit") %>
    <% end %>
  </div>

  <div id="stats">
    <h3>stats</h3>
  </div>

  <div id="timeline">
    <h3>embedded timeline</h3>
  </div>

</div>