<div id="sidebar">
  <ul id="sidebar-items">
    <li>
      <h3 class="green-bottom">About</h3>
      <ul class="links">
        <li>Created by <a href="http://www.matthewfrost.com/">Matthew Frost</a></li>
        <li>Follow me <a href="https://twitter.com/frostmatthew">@frostmatthew</a></li>
        <li>Fork this on <a href="https://github.com/Exupery/shouldifollow">GitHub</a></li>
      </ul>
    </li>
  </ul>
<%= render 'layouts/tweet' %>
</div>